body{
    background-color: black;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}
.container{
    flex: 1;
}
.navbar{ 
    display: flex !important;
    align-content: center !important;
    justify-content: space-between !important;
    background-color: rgb(255, 255, 255) !important; 
}

.listing-link{
    text-decoration: none;
}

.navbar-1-top i{
    transform: scale(1.5);
    color: red;
}


/* navbar */

.navbarNav{
    width: 100px !important;
}


.footer-1b-incl{
    padding-top: 20px;
    display: flex;
}

.navbar-p{
    display: flex;
    padding-top: 15px;
}

.add-listing-button button{
    background-color: red;
    border-radius: 10px;
    border: 1px solid red;
    transition: transform 0.2s;
    text-align: center !important;
}

.add-listing-button:hover button{
    transform: translateY(-2px);
}

.add-listing-button:active button{
    transform: translateY(2px);
    background-color: rgba(255, 0, 0, 0.776) !important; 
}

main-logo{
    display: flex !important;
    align-items: center !important;
}

.addlist-nav{
    display: flex !important;
    flex-direction: row !important;
    gap: 1.1rem !important;
    align-items: center !important;
}

.addlist-nav p {
    margin: 0 !important;
}

.addlist-nav i {
    color: black
}

.profile-border{
    width: 90% !important;
    margin-right: 10px !important;
    padding: 15px 15px !important;
    display: flex !important;
    gap: 5px !important;
    border: 1px solid grey !important;
    border-radius: 2rem;
    transition: 0.35s ease-in-out !important;
}

.profile-border:hover{
    box-shadow: 1px 4px 4px grey !important;
}

.filters{
    margin-top: 1.2rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    align-items: baseline;
    justify-content: center;
    flex: 1
}

.filter{
    opacity: 0.6;
    transition: 250ms ease-in;
}
.filter p{
    font-size: 0.8rem;;
}

.filter i{
    font-size: 1.5rem;
    display: flex; /* Ensures the icon stays centered */
    align-items: center;
    justify-content: center;
    
}

.filter:hover {
    opacity: 1;
    cursor: pointer;
}

.search-input {
    border-radius: 50px 0 0 50px;
    padding: 8px 16px;
    font-size: 14px;
  }

  .search-button {
    border-radius: 0 50px 50px 0;
    padding: 8px 16px;
    font-size: 14px;
  }

  .search-icon {
    font-size: 16px;
  }

.search{
    padding: 0 3rem !important;
    border-radius: 2rem !important;
    
}

.search-btn{
    display: flex !important;
    align-items: baseline;
    justify-content: center;
    gap: 1.1rem !important;
    border-radius: 2rem !important;
    background-color: red !important;
    color: rgb(224, 217, 217) !important;
}

.search-btn i{
    color: rgb(224, 217, 217) !important;
}

/* main.ejs */

.main_hotel{
    padding-left: 0 !important;
}

/* alert */

.alert{
    display: flex !important;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    animation: 1.1s linear 0s 1 sun-rise;
}
.alert-svg{
    transform: scale(0.3);
    width: 10%;
}

.alert-svg + div{
    margin-right: 240px;
    font-size: 30px;
}

/* main.ejs */
.tax-info{
    display: none;
}

.tax-toggle{
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.25rem;
    padding: 1rem;
    margin-left: 5rem;
    display: flex;
    align-items: center;
}



@keyframes sun-rise {
    0% {
      display: flex;
      transform: translateY(-70vh);
    }
    50%{
        transform: translateY(-40vh);
    }
    100% {
      /* returns the sun to its default position */
      transform: translateY(0);
    }
}

@media screen and (min-width: 772px) {
    .footer-1b-incl{
        flex-direction: column !important;
    }    
}