body{
    background-color: black;
    color: white;
    font-family: "Plus Jakarta Sans", sans-serif !important;
    font-optical-sizing: auto !important;
    font-style: normal !important;
    display: flex !important;
    flex-direction: column !important;
    min-height: 100vh !important;
}
.container{
    flex: 1;
}
.navbar{ 
    background-color: rgb(255, 255, 255) !important; 
}

.listing-link{
    text-decoration: none;
}

.navbar-1-top i{
    transform: scale(1.5);
    color: red;
}




.footer-1b-incl{
    padding-top: 20px;
    display: flex;
}

.navbar-p{
    display: flex;
    padding-top: 15px;
}

.add-listing-button button{
    background-color: red;
    border-radius: 10px;
    border: 1px solid red;
    transition: transform 0.2s;
    text-align: center !important;
}

.add-listing-button:hover button{
    transform: translateY(-2px);
}

.add-listing-button:active button{
    transform: translateY(2px);
    background-color: rgba(255, 0, 0, 0.776) !important; 
}

@media screen and (min-width: 772px) {
    .footer-1b-incl{
        flex-direction: column !important;
    }    
}